<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
    
// function MyObj(){
//     this.p.pid++
// }
// MyObj.prototype.p = {'pid':0}
// MyObj.prototype.getNum = function(num){
//     return this.p.pid + num
// }
// var _obj1 = new MyObj()
// var _obj2 = new MyObj()
// console.log(_obj1.getNum(1)+_obj2.getNum(2))//=>7


    // var func = (function(a){
    //     this.a = a;
    //     return function(a){
    //         a += this.a;
    //         return a;
    //     }

    // })(function(a,b){
    //     return a;
    // }(1,2));
    // func(4);
    // console.log(func(4))//=>5


</script>
</html>